header {
    background-color: rgb(17, 45, 56);
}

header h2 {
    color: white;
}

header a {
    color: rgb(102, 101, 101);
}

#coloraquagreen img{
    width: 40%;
}
#coloraquagreen {
    background-color: rgb(1, 133, 89);
}

#coloraquagreen hr {
    width: 15em;
    color: rgb(255, 255, 255);
}

#coloraquagreen h2 {
    color: white;
}

#coloraquagreen i {
    color: white;
}
#whiterow hr{
 color: black;
 width: 15em;
}
#whiterow img{
    width: 28%;
}
#aboutaqua{
    background-color: aquamarine;
}
#aboutaqua h2{
    color: white;
}
#aboutaqua hr{
    color: white;
}
#aboutaqua i{
    color: white;
}
#aboutaqua hr{
    color: rgb(255, 255, 255);
    width: 15em;
    border-width: 0.3em;
    opacity: 100%;
   }
#aboutaqua p{
    color: white;
}

#contact h2{
color: rgb(0, 0, 0);
}
#contact hr{
    color: rgb(0, 0, 0);
    width: 15em;
    border-width: 0.3em;
    opacity: 100%;
   }
.list-hr {
    color: rgb(59, 59, 59);
    width: 25em;
    border-width: 0.3em;
    opacity: 100%;
}
#fake-footer{
    background-color: rgb(18, 18, 97);
}
#fake-footer div{
    color: white;
}
footer{
    background-color: rgb(27, 27, 27);
}
body{
    overflow-y: auto;
}